{% extends 'aspirant/register.html' %}
{% load static %}
{% block content %}




<div class="container-fluid">
    

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <h2>Create an Account</h2>
            <form method="post" onsubmit="return signup_form_validation()">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="name" required>
                    <div id="name_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                    <div id="email_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div id="pass_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" required>
                    <div id="pass_match" class="text-danger"></div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <br>
                <br>
        </div>
        <div class="col-md-4"></div>

            <div class="row">
                <div class="col-12">
                    <h5 style="text-align: center; margin: 20px;">Already a member? <a href="{% url 'aspirant:login' %}" style="color: red;">login here</a></h5>
                </div>
            </div>
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    
</div>

{% endblock %}